*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    --background-color: #1e1e1e !important;
    --container-bg-color: #242424 !important;
    --text-color: #fff;
    --main-color: #b91c1c;
    --hover-color: #b91c1cde;
}
.bg-dark{
    background-color: #242424 !important;
}
body{
    background-color: #1e1e1e !important;
}
.selector-for-some-widget {
    box-sizing: content-box;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 70px;
    height: 50px;
    position: relative;
}
.logo img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}
.user-profile{
    width: 30px;
    height: 30px;
}
.user-profile img{
    position: relative;
    border-radius: 50%;
}
.form-control{
    background-color: var(--background-color);
    border: none;
    caret-color: var(--main-color);
    color: var(--text-color) !important;
    cursor: pointer;
}
.form-control:focus{
    background-color: var(--background-color);
    border-color: var(--main-color); 
    box-shadow: 0 0 0 0.2rem rgb(189 56 56 / 25%);
    cursor: pointer;
}
.form-control::placeholder{
    color: var(--text-color);
    cursor: pointer;
}
.btn-red{
    background-color: var(--main-color);
    color: var(--text-color);
}
.btn-red:hover{
    background-color: var(--hover-color);
    color: var(--text-color);
}
.btn:focus{
    
    outline: none;
    border-color: none;
}
.btn.focus, .btn:focus {
    border: none;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgb(189 56 56 / 25%);
}
