*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    --background-color: #1e1e1e !important;
    --container-bg-color: #242424 !important;
    --text-color: #fff;
    --main-color: #b91c1c;
    --hover-color: #b91c1cde;
    --border-color: #333;
    --border-raduis: 5px;
    --border-raduis-img: 50%;
}
body{
    background-color:  var(--background-color) !important;
    color: var(--text-color);
}
html{
    position: relative;
}
#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
}
#wrapper #content-wrapper .container-fluid{
    padding: 30px 30px 30px 255px;
}
.index #wrapper #content-wrapper .container-fluid{
    padding: 30px 30px 30px 30px;
}
.sidebar-toggled #wrapper #content-wrapper .container-fluid{
    padding: 30px 30px 30px 121px;
}
.bg-dark{
    background-color: var(--container-bg-color) !important;
}
.text-white{
    color: var(--text-color);
}

.selector-for-some-widget {
    box-sizing: content-box;
}
.section-padding{
    padding-top: 20px;
}
.navbar{
    margin-top: 0px !important;
    padding-top: 1px !important;
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 40;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    overflow: hidden; 
}
.logo{
    margin-top: -13px;
    width: 100px;
    height: 100%;
    position: relative;
}
.logo img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}
.right-container{
    margin-top: -13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
.right-container .toggled-icon{
    display: none;
}
.user-profile{
    width: 30px;
    height: 30px;
}
.user-profile img{
    position: relative;
    border-radius: 50%;
}
.navbar .form-inline{
    margin-top: -10px !important;
}
.top-mobile-search .form-control{
    border: 1px solid var(--main-color);
}
.form-control{
    background-color: var(--background-color) !important;
    border: none;
    caret-color: var(--main-color);
    color: var(--text-color) !important;
    cursor: pointer;
}
.form-control:focus{
    background-color: var(--background-color);
    border-color: var(--main-color); 
    box-shadow: 0 0 0 0.2rem rgb(189 56 56 / 25%);
    cursor: pointer;
}
.form-control::placeholder{
    color: var(--text-color);
    cursor: pointer;
}
.btn-red{
    background-color: var(--main-color);
    color: var(--text-color);
}
.btn-red:hover{
    background-color: var(--hover-color);
    color: var(--text-color);
}
.btn:focus{
    outline: none;
    border-color: none;
}
.btn.focus, .btn:focus {
    border: none;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgb(189 56 56 / 25%);
}
.bottom-sidebar{
    position: fixed !important;
    width: 100%;
    background-color: var(--container-bg-color) !important;
    z-index: 40;
    bottom: 0px;
    display: none;
    float: right;

}
.bottom-sidebar-container{
    width: 100%;
    position: relative;
    
}
.bottom-sidebar .navbar-nav{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    padding-bottom: 2px;
}
.bottom-sidebar .navbar-nav .bottom-nav-item{
    align-items: center;
    display: flex;
    flex-direction: column; 
    gap: 5px;
}

.bottom-sidebar .bottom-nav-item a i{
    color: var(--text-color);
    font-weight: 600;
    display: block;
    transition: color 0.3s;
}

.bottom-sidebar .bottom-nav-item a span{
    color: var(--text-color);
    font-weight: 500;
    display: block;
    font-size: 14px;
    margin-top: 5px;
    transition: color 0.3s;
}

.bottom-nav-item.active a i,
.bottom-nav-item.active a span,
.bottom-nav-item:focus a i,
.bottom-nav-item:focus a span {
    color: var(--main-color); /* Green color for focus/active */
}
.nav-item a{
    display: inline;
    text-decoration: none;
}
.sidebar {
    width:85px !important;
    background: var(--container-bg-color);
   /* Old browsers */
    background: -moz-linear-gradient(-45deg, var(--container-bg-color) 0%, var(--container-bg-color) 100%);
   /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, var(--container-bg-color) 0%,var(--container-bg-color) 100%);
   /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--container-bg-color) 0%,var(--container-bg-color) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--container-bg-color)', endColorstr='var(--container-bg-color)',GradientType=1 );
   /* IE6-9 fallback on horizontal gradient */
    min-height: 100%;
    z-index: 9;
    padding: 2px 0;
    position: fixed;
    margin-top: 50px;
}
.sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}
.sidebar .nav-item .nav-link {
    font-size: 14px;
    padding: 12px 14px !important;
    text-align: center;
    width: 8px;
    font-weight: 600;
}
.sidebar .nav-item .nav-link:hover, .sidebar .nav-item.active .nav-link {
    background-color: var(--main-color);
}
.nav-link.active{
    background-color: var(--main-color);
}
.sidebar .nav-item .nav-link .fas {
    color: #ffffff;
}
.sidebar .nav-item .nav-link span {
    display: inline;
    font-size: 14px;
    margin: 0 0 0 11px;
}
.sidebar .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.0rem) !important;
    margin: 0;
}
.sidebar .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
}
.sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}
.sidebar .nav-item .nav-link {
    color: var(--text-color);
}
.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: var(--text-color);
}
.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}
@media (min-width: 768px) {
    
    .sidebar {
       height: 100%;
       overflow: auto;
       position: fixed;
       width: 225px !important;
   }
   
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 225px;
   }
    .sidebar .nav-item .nav-link span {
        display: inline;
        font-size: 13px;
        margin: 0 0 0 11px;
   }
    
    .sidebar.toggled {
        overflow: visible;
        width: 90px !important;
   }
    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
   }
    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 90px;
   }
    .sidebar.toggled .nav-item .nav-link span {
        margin: 0;
   }
    .sidebar.toggled .nav-item .nav-link span {
        font-size: 0.65rem;
        display: block;
   }
    .sidebar.toggled .nav-item .dropdown-menu {
        position: absolute !important;
        -webkit-transform: none !important;
        transform: none !important;
        left: calc(90px + 0.5rem) !important;
        margin: 0;
   }
    .sidebar.toggled .nav-item .dropdown-menu.dropup {
        bottom: 0;
        top: auto !important;
   }
    .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
        display: none;
   }
}
.sidebar.fixed-top {
    top: 56px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}
.top-mobile-search {
    display: none;
    z-index: 10;
    width: 100%;
    position: absolute;
    margin-top: 35px;
    margin-left: 15px;
    user-select: none;
}
.top-mobile-search {
    position: fixed !important;
}
.mobile-search{
    width: 100%;
    position: relative;
}
.top-mobile-search.box{
    background-color: transparent ;
    box-shadow: none;
    position: absolute;
}
.image-slider-one{
    position: relative;
}

.movie-section{
    width: 100%;
    position: relative;
}
.movie-selection{
    width: 100%;
    background-color: transparent;
    position: relative;
}
.selection{
    width: 100%;
    display: flex;
    gap: 20px;
    position: relative;
}
.selection li{
    list-style: none;
}
.btn.active{
    background-color: var(--main-color);
}
.main-title > h6 {
    margin: 0px 0 5px;
    font-size: 20px;
}
.line{
    width: 100px;
    height: 2px;
    background-color: var(--main-color);
    margin: 0px 0 16px;
}
.image-slider-one.box{
    background-color: transparent !important;
}
/* card*/
.movies-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 10px;
    column-gap: 2px;
}
.card{
    width: 13rem;
    height: auto;
    padding: 0 !important;
    background-color: var(--container-bg-color);
    text-decoration: none;
}

.card:hover .play-icon{
    display: block;
}
.card>.play-icon{
    width: 100%;
    height: 58%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    display: none;
}
.card>.play-icon{
    width: 100%;
    height: 58%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    display: none;
}
.card>.play-icon i{
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 50px;
    color: red;
    z-index: 20;
    opacity: 1;
    left: 40%;
    top: 30%;
    right: 0;
    bottom: 0;
}
.card-img-top{
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.card-body{
    width: 100%;
    position: relative;
    padding-left: 4px;
    padding-top: 2px;
    text-decoration: none;
    height: auto;
}
.latest-action-slide .card-title{
    min-height: 50px;
}
.card-title{
    text-decoration: none;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    max-height: 50px;
    height: 100%;
    width: 100%;
}
.card .time{
    top: 47%;
    right: 4px;
    position: absolute;
}
.card .time span{
    color: var(--text-color);
    background-color: var(--main-color);
    padding: 2px 2px;
    border-radius: var(--border-raduis);
    position: static;
}
/* video page*/
iframe{
    width: 100%;
    height: 100%;
    min-height: 315px;
    background-color: black;
}
.video-block{
    position: relative;
    width: 100%;
}
.single-video-left{
    position: relative;
    width: 100%;
}
.box{
    padding: 15px;
    padding-right: 15px;
    background: var(--container-bg-color) none repeat scroll 0 0;
    border-radius: var(--border-raduis);
    box-shadow: 0 0 11px var(--background-color);
    transition-duration: 0.4s;
}
.single-video-title{
    justify-content: space-between;
}
.single-video-title h2 {
    font-size: 18px;
}
.single-video-title h2 a{
    color: var(--text-color);
    text-decoration: none;
}
.single-video-title .download{
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 4px;
    background-color: var(--main-color);
    border-radius: var(--border-raduis);
}
.single-video-title .download a{
    text-decoration: none;
    color: var(--text-color);
}
.single-video-title .download:hover, .single-video-title .download:focus{
    color: var(--text-color);
    background-color: var(--hover-color);
    cursor: pointer;
}
.single-video-info-content h6{
    color: var(--main-color);
}
/*comment*/
.rounded{
    border-radius: 50%;
}
.comment-card{
    width: 100%;
    position: relative;
    display: flex;
    gap: 10px;
}
.card-image .line{
    width: 5px;
    height: 50px;
    background-color: var(--main-color);
}
.card-image>img{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/*video*/
.video-card-image {
    box-shadow: 0 0 11px var(--border-color);
    overflow: hidden;
    position: relative;
}
.video-card .time {
    background: var(--main-color) none repeat scroll 0 0;
    border-radius: 2px;
    bottom: 5px;
    color: #fff;
    font-weight: 500;
    opacity: 1;
    padding: 0 6px;
    position: absolute;
    right: 5px;
}
.video-card:hover .time{
    opacity: unset;
    z-index: 10;
}
.video-card-image img {
   width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}
.video-card-image .play-icon {
    opacity: 0;
    position: absolute;
    z-index: 20;
}
.video-card-image .play-icon .bi {
    bottom: 0;
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
.video-card:hover .play-icon {
    background: #000 none repeat scroll 0 0;
    border-radius: 2px;
    bottom: 0;
    color: var(--main-color);
    font-size: 35px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition-duration: 0.4s;
}
.video-title a {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
}
.video-title {
    margin-bottom: 5px;
}
.video-page {
    font-size: 11px;
}
.video-view {
    color: #acacac;
    font-size: 10px;
    font-weight: 500;
    margin: 2px 0 0;
}
.video-card {
    background: var(--container-bg-color) none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 0 11px var(--border-color);
    transition-duration: 0.4s;
}
.video-card-body {
    padding: 12px;
}
.video-card-list .video-card-image {
    float: left;
    height: 140px;
    margin: 0 12px 0 0;
    width: 192px;
}
.video-card-list .video-card-body {
    padding: 0;
}
.video-card-list {
    background: var(--container-bg-color) none repeat scroll 0 0;
    border: 1px solid var(--border-color);
    border-radius: var(--border-raduis);
    box-shadow: none;
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
}
.video-card-list .video-card-body .video-title a {
    font-size: 18px;
    color: var(--text-color); 
}
.video-card-list .video-card-body .video-title {
    max-height: 74px;
    text-decoration: none;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    position: relative;
}
/*latest movies*/
.latest-action, .latest-horro, .latest-romance, .latest-drama {
    background-color: transparent !important;
}

.latest-action-slide{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    overflow-x: scroll;
    gap: 10px;
    grid-auto-flow: column; 
    white-space: nowrap;
}
 /* Navigation buttons style */
 .slider-btn .swiper-button-prev,
 .slider-btn .swiper-button-next {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: var(--container-bg-color); 
   color: var(--text-color);          
   display: flex;
   align-items: center;
   justify-content: center;
   position: static !important;   
   transform: translate(0,0); 
   z-index: 20;          
   cursor: pointer;
   margin: 5px 0 0 20px !important;
   border: 2px solid var(--main-color);
   padding: 2px;
 }
 .slider-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 5px auto 0px auto;
 }
 .slider-btn .swiper-button-prev::after,
 .slider-btn .swiper-button-next::after{
    font-size: 25px !important;
    font-weight: 800;
 }
.big-image-slide-1{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    overflow-x: auto;
    gap: 0px;
    grid-auto-flow: column; 
    white-space: nowrap;
}
/* Container for the card */
.card-container {
    width: 300px; /* Set desired card width */
    height: 300px; /* Set desired card height */
    position: relative; /* Relative positioning for overlay */
    border-radius: var(--border-raduis); /* Round the card corners */
    overflow: hidden; /* Hide overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: white;
  }


  /* Card description */
  .card-description {
    font-size: 16px;
    margin-top: 10px;
  }
  .swiper-container {
    width: 80%; /* Set the width of the container */
    height: auto;
    max-width: 800px; /* Maximum width of the container */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .swiper-slide img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
  }
  .swiper-container {
    width: 50%; /* Set each slide to 50% of container width */
    height: 117px ; /* Set the height of each slide */
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  }
  .card-img-overlay{
    position: absolute;
    display: block;
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg,black,transparent);
  }
  .card-img-overlay .card-title{
    margin-top: 10%;
    text-decoration: none;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    max-height: 100px;
  }
  .text-main{
    color: var(--main-color);
  }
  .play-btn{
    position: absolute;
    right: 100px;
    top: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-raduis-img);
    border: 1px solid var(--border-color);
    z-index: 10;
    background-color: rgba(255,0,0,0.185);
    position: absolute;
  }
  .play-btn .main-play-icon{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-raduis-img);
    transition: all ease 0.3s;
  }
  .play-btn a:hover{
    background-color: var(--main-color);
    transition: all ease 0.3s;
  }
  .main-play-icon i{
    font-size: 35px;
    color: var(--text-color);
  }
  .play-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 500px;
  }
.card-img-overlay .small-overlay{
    top: 50px;
    z-index: 30;
    position: absolute;
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg,black,transparent);
}
/* btn change*/
.bg-primary, .btn-primary, .btn-outline-primary:hover, .badge-primary {
    border-color: transparent !important;
    background: var(--main-color);
   /* Old browsers */
    background: -moz-linear-gradient(-45deg, var(--main-color) 0%, var(--main-color) 100%);
   /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, var(--main-color) 0%,var(--main-color) 100%);
   /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--main-color) 0%,var(--main-color) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--main-color)', endColorstr='var(--main-color)',GradientType=1 );
   /* IE6-9 fallback on horizontal gradient */
}
.btn-outline-primary{
    border-color: var(--main-color);
    color: var(--text-color);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
.btn-primary:focus{
    box-shadow: none;
}
.bg-secondary, .btn-secondary, .btn-outline-secondary:hover, .badge-secondary{
    border-color: transparent !important;
    background: var(--background-color);
    transform: all 0.5s ease-in-out;
   /* Old browsers */
    background: -moz-linear-gradient(-45deg, var(--background-color) 0%, var(--background-color) 100%);
   /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, var(--background-color) 0%,var(--background-color) 100%);
   /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--background-color) 0%,var(--background-color) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--background-color)', endColorstr='var(--background-color)',GradientType=1 );
   /* IE6-9 fallback on horizontal gradient */
}
.btn-outline-secondary{
    border-color: var(--border-color);
    color: var(--text-color);
}
.btn-secondary:hover{
    background-color: var(--hover-color);
}
.btn-primary:hover{
    background-color: var(--hover-color);
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
.btn-secondary:focus{
    box-shadow: none;
}
.btn:active{
    background-color: var(--main-color);
}
.selection .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--main-color) !important;
}
.nav-pills .nav-link {
    background-color: var(--container-bg-color);
    border-radius: var(--border-raduis) !important;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 10px;
    overflow: -moz-scrollbars-none; /* For Firefox */
    -ms-overflow-style: none;       /* For Internet Explorer and Edge */
    scrollbar-width: none;          /* For Firefox */
    overflow: scroll;  
}
.nav-item a {
    display: inline;
    text-decoration: none;
    color: white;
}
/*responsive */

@media (max-width: 576px){
    #wrapper #content-wrapper .container-fluid {
        padding-bottom: 15px !important;
        padding-left: 15px;
        padding-right: 15px !important;
        padding-top: 1.8rem !important;
    }
    .index #wrapper #content-wrapper .container-fluid {
        padding-bottom: 15px !important;
        padding-left: 15px;
        padding-right: 15px !important;
        padding-top: 1.8rem !important;
    }
    .navbar{
        width: 100%;
        height: 50px;
        position: fixed; 
        padding: 0px !important;
    }
    .right-container .toggled-icon{
        display: block;
        position: relative;
    }
    .navbar .form-inline{
        display: none;
    }
    .bottom-sidebar{
        display: block;
    }
    .index .bottom-sidebar{
        display: none;
    }
    .navbar-brand img {
        vertical-align: top;
   }
   .sidebar{
    display: none;
   }
   .latest-action.box, .image-slider-one.box, .latest-horro.box,
   .latest-drama.box, .latest-romance.box{
    width: 100%;
    padding: 0px 0px 0px 0px !important;
   }
   .image-slider-one{
    width: 100%;
   }
   .card-img-overlay,
   .play-btn-container{
    display: none;
   }
   .card-img-overlay .card-button{
    display: none;
   }
   .card-img-overlay .small-overlay{
    display: block;
   }
   .mySwiper-latest-action-slide, .mySwiper-latest-horro-slide, .mySwiper-latest-drama-slide, 
   .mySwiper-latest-romance-slide{
    width: 100%;
   }
   .latest-action-wrapper .card, .latest-horro-wrapper .card, .latest-drama-wrapper .card,
   .latest-romance-wrapper .card{
    width: 100%;
   }
    .card-title {
     text-decoration: none;
     color: var(--text-color);
     text-overflow: ellipsis;
     overflow: hidden;
     bottom: 0;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     max-height: 50px;
     height: 100%;
     width: 100%;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0.25rem;
    }
    .card-img-top {
        width: 100%;
        height: 155px !important; 
        object-fit: cover; 
        object-position: center;
        -o-object-fit: cover;
        -o-object-position: center;
    }
    .h5, h5 {
     font-size: 16px;
     font-weight: 600;
    }
    .slider-btn .swiper-button-prev::after,
    .slider-btn .swiper-button-next::after{
    font-size: 15px !important;
    font-weight: 800;
    }
   .slider-btn .swiper-button-prev,
   .slider-btn .swiper-button-next {
     width: 25px;
     height: 25px;
     border: 2px solid var(--main-color);
     padding: 2px;
   }
   .card .time {
    top: 128px !important;
    right: 4px;
    position: absolute;
    }
    .card .time span {
        color: var(--text-color);
        background-color: var(--main-color);
        padding: 2px 2px;
        border-radius: var(--border-raduis);
        position: static;
    }
    .input-group{
        width: 100%;
    }
    .top-mobile-search {
        display: none;
    }
    .selection {
        width: 100%;
        display: flex;
        gap: 20px;
        position: relative;
        padding-left: 0px !important;
        margin-top: 2px !important;
    }
    .nav-item a {
        display: inline;
        text-decoration: none;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
    .movies-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
        column-gap: 3px;
    }
    .movies-container .card{
        width: 100%;
    }
    .movies-container .card-body .card-title{
        max-height: 41px;
    }
    .card:hover .play-icon {
        display: none;
    }
    .card-img-top{
        object-position: center;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .top-mobile-search {
        display: none;
    }
    #wrapper #content-wrapper .container-fluid {
        padding-bottom: 15px !important;
        padding-left: 13px;
        padding-right: 15px !important;
        padding-top: 1.8rem !important;
    }
    .index #wrapper #content-wrapper .container-fluid {
        padding-bottom: 15px !important;
        padding-left: 13px;
        padding-right: 15px !important;
        padding-top: 1.8rem !important;
    }
    .container {
        max-width: 100%;
     }
     .navbar{
        width: 100%;
        height: 50px;
        position: fixed; 
        padding: 0px !important;
    }
    .right-container .toggled-icon{
        display: block;
        position: relative;
    }
    .navbar .form-inline{
        display: none;
    }
    .bottom-sidebar{
        display: block;
    }
    .navbar-brand img {
        vertical-align: top;
   }
   .sidebar{
    display: none;
   }
   .latest-action.box, .image-slider-one.box, .latest-horro.box,
   .latest-drama.box, .latest-romance.box{
    width: 100%;
    padding: 0px 0px 0px 0px !important;
   }
   .mySwiper-latest-action-slide, .mySwiper-latest-horro-slide, .mySwiper-latest-drama-slide, 
   .mySwiper-latest-romance-slide{
    width: 100%;
   }
   
   .latest-action-wrapper .card, .latest-horro-wrapper .card, .latest-drama-wrapper .card,
   .latest-romance-wrapper .card{
    width: auto;
   }
   .image-slider-one{
    width: 100%;
   }
   .card-img-overlay,
   .play-btn-container{
    display: none;
   }
   .card-img-overlay .card-button{
    display: none;
   }
   .card-img-overlay .small-overlay{
    display: block;
   }
   .mySwiper-latest-action-slide, .mySwiper-latest-horro-slide, .mySwiper-latest-drama-slide, 
   .mySwiper-latest-romance-slide{
    width: 100%;
   }
   .latest-action-wrapper .card, .latest-horro-wrapper .card, .latest-drama-wrapper .card,
   .latest-romance-wrapper .card{
    width: auto;
   }
    .card-title {
     text-decoration: none;
     color: var(--text-color);
     text-overflow: ellipsis;
     overflow: hidden;
     bottom: 0;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     max-height: 50px;
     height: 100%;
     width: 100%;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0.25rem;
    }
    .card-img-top {
        width: 100%;
        height: 155px !important; 
        object-fit: cover; 
        object-position: center;
        -o-object-fit: cover;
        -o-object-position: center;
    }
    .h5, h5 {
     font-size: 16px;
     font-weight: 600;
    }
    .slider-btn .swiper-button-prev::after,
    .slider-btn .swiper-button-next::after{
    font-size: 18px !important;
    font-weight: 800;
    }
   .slider-btn .swiper-button-prev,
   .slider-btn .swiper-button-next {
     width: 30px;
     height: 30px;
     border: 2px solid var(--main-color);
     padding: 2px;
   }
   .card .time {
    top: 128px !important;
    right: 4px;
    position: absolute;
    }
    .card .time span {
        color: var(--text-color);
        background-color: var(--main-color);
        padding: 2px 2px;
        border-radius: var(--border-raduis);
        position: static;
    }
    .input-group{
        width: 100%;
    }
    .top-mobile-search {
        display: none;
    }
    .watch-page .box{
        display: block;
    }
    .watch-page.box{
        background-color: var(--container-bg-color);
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    #wrapper #content-wrapper .container-fluid {
        padding-bottom: 15px !important;
        padding-left: 13px;
        padding-right: 15px !important;
        padding-top: 4rem !important;
    }
    .index #wrapper #content-wrapper .container-fluid {
        padding-bottom: 15px !important;
        padding-left: 13px;
        padding-right: 15px !important;
        padding-top: 4rem !important;
    }
    .sidebar .nav-item .nav-link {
        padding: 8px 14px !important;
    }
    .navbar-brand img {
         vertical-align: top;
    }
    .sidebar{
    display: none;
    }
    .bottom-sidebar{
        display: block;
    }
   .latest-action.box, .image-slider-one.box, .latest-horro.box,
   .latest-drama.box, .latest-romance.box{
    width: 100%;
    padding: 0px 0px 0px 0px !important;
    }
     .video-card-image img {
         width: 100%;
    }
    .container {
         max-width: 100%;
    }
    .top-mobile-search {
        display: none;
    }
    .card .time span {
        color: var(--text-color);
        background-color: var(--main-color);
        padding: 2px 2px;
        border-radius: var(--border-raduis);
        position: static;
    }
    
    .card {
        width: auto;
        height: auto;
        padding: 0 !important;
        background-color: var(--container-bg-color);
        text-decoration: none;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0.25rem;
    }
    .card .time {
        top: 123px;
    }
    .slider-btn .swiper-button-prev::after,
    .slider-btn .swiper-button-next::after{
    font-size: 18px !important;
    font-weight: 800;
    }
   .slider-btn .swiper-button-prev,
   .slider-btn .swiper-button-next {
     width: 30px;
     height: 30px;
     border: 2px solid var(--main-color);
     padding: 2px;
   }
   .mt-4, .my-4 {
    margin-top: 0.5rem !important;
   }
   .play-btn {
    right: 69px;
    top: 39%;
    width: 50px;
    height: 50px;
    background-color: rgb(255 0 0 / 17%);
    }
    .card-img-overlay .card-title {
        margin-top: -17px;
        text-decoration: none;
        color: var(--text-color);
        text-overflow: ellipsis;
        overflow: hidden;
        bottom: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 74px;

    }
    .play-btn a:hover{
        background-color: var(--main-color);
        transition: all ease 0.3s;
      }
      .main-play-icon i{
        font-size: 35px;
        color: var(--text-color);
      }
      .play-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        max-width: 500px;
      }
      .play-btn .main-play-icon{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-raduis-img);
        transition: all ease 0.3s;
      }
      .navbar .form-inline{
        margin-top: -2px !important;
    }
    .movies-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        row-gap: 10px;
        column-gap: 2px;
    }
    .card:hover .play-icon{
        display: none;
    }
    .watch-page .box{
        background-color: var(--container-bg-color) !important;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    #wrapper #content-wrapper .container-fluid {
        padding-bottom: 15px !important;
        padding-left: 243px;
        padding-right: 15px !important;
        padding-top: 3rem !important;
    }
    #wrapper #content-wrapper .container-fluid {
        padding-bottom: 15px !important;
        padding-left: 243px;
        padding-right: 15px !important;
        padding-top: 3rem !important;
    }
    .latest-action.box, .image-slider-one.box, .latest-horro.box,
   .latest-drama.box, .latest-romance.box{
     background-color: transparent !important;
   }
   .card-img-overlay .card-title {
    margin-top: -17px;
    text-decoration: none;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 74px;
    }
    .bottom-sidebar{
        display: none;
    }
    .card {
        width: auto;
        height: auto;
        padding: 0 !important;
        background-color: var(--container-bg-color);
        text-decoration: none;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0.25rem;
    }
    .card .time {
        top: 123px !important;
    }
    .movies-container{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        row-gap: 10px;
        column-gap: 2px;
    }
    .single-video-title.box{
        background-color: var(--container-bg-color);
    }
    
}
@media (min-width: 1200px) and (max-width: 2560px){
    .bottom-sidebar {
        display: none;
    }
    .box{
        
    }
    .single-video-title.box{
        background-color: var(--container-bg-color);
    }
    .single-video-title.box{
        background-color: var(--container-bg-color);
    }
}
@media (max-width: 2560px) {
   
    .single-video-title .box{
        background-color: var(--container-bg-color);
    }
    .card{
        width: 100%;
    }
    
    
}